<?xml version="1.0" encoding="UTF-8"?>
<LaunchInitializtions>
	<LaunchInitializtion>
		<initializeClassName>Giada De Laurentiis</initializeClassName>
		<initializeMethod>2005</initializeMethod>
	</LaunchInitializtion>
	<LaunchInitializtion>
		<initializeClassName>Giada De Laurentiis</initializeClassName>
		<configureLocations>路径</configureLocations>
	</LaunchInitializtion>
</LaunchInitializtions>